/* Estilos para el área de Registro e Inicio de Sesión */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
   
}

.register-login-container {
    background-color: #f9f9f9;  /* Cambié el color de fondo a un tono más claro */
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.register-login-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.form-link:hover {
    color: #0056b3;
}

.form-animation {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.form-shown {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos para el contenedor principal de Registro e Inicio de Sesión */
.register-login-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.register-login-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Estilos para encabezados en Registro e Inicio de Sesión */
.register-login-container h1 {
    color: #333;
    text-align: center;
}

/* Estilos para formularios en Registro e Inicio de Sesión */
.register-login-container form {
    margin-bottom: 20px;
}

.register-login-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.register-login-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-login-container button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-login-container button:hover {
    background-color: #45a049;
}

.register-login-container ul {
    list-style: none;
    padding: 0;
}

.register-login-container li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.register-login-container li:hover {
    background-color: #f2f2f2;
}

.register-login-container a {
    color: #d9534f;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-login-container a:hover {
    color: #b52b27;
}

.register-login-container .delete-all-btn {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-login-container .delete-all-btn:hover {
    background-color: #b52b27;
}

/* Estilos para la página de Registro e Inicio de Sesión */
body.register-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #3a87ad;
    color: #000000;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    height: 48px; /* Ajusta el alto según tus necesidades */
    margin-top: -463px; /* Ajusta el valor según sea necesario */
}

.welcome-logout {
    display: flex;
    align-items: center;
}







/* Estilos para el nuevo cuadro de fecha seleccionada */
#selectedDateContainer {
    position: fixed;
    bottom: 126px;
    left: 0px;
    background-color: #3a87ad;
   
    border-radius: 8px;
    padding: 10px;
    height: 298px; /* Ajusta el alto según tus necesidades */

    
    color: #000000; /* Color del texto (blanco en este caso) */
}


#addTaskBtn {
    background-color: #435aa7;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#taskListSelectedDate {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#taskListSelectedDate li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#taskListSelectedDate li:hover {
    background-color: #f2f2f2;
}



/* Estilo para boton X(eliminar tarea) */

#saveTaskBtn,
#modifyTaskBtn,
.delete-task-btn {
    background-color: #435aa7; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno */
    text-align: center; /* Alineación de texto al centro */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#saveTaskBtn:hover,
#modifyTaskBtn:hover,
.delete-task-btn:hover {
    background-color: #000571; /* Cambia el color de fondo al pasar el mouse */
}

#modifyTaskBtn,
#saveTaskBtn {
    /* Estilos adicionales para el botón modifyTaskBtn y saveTaskBtn */
    margin-right: 10px; /* Margen a la derecha */
}

.delete-task-btn {
    /* Estilos adicionales para el botón delete-task-btn */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    padding: 5px 10px; /* Relleno más pequeño */
}


.delete-task-btn {
    font-size: 12px; /* Tamaño de fuente más pequeño */
    padding: 2px 6px; /* Espaciado interno más pequeño */
    background-color: #435aa7; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer;
    float: right; /* Alinear a la derecha */

    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}






/* Estilos para el enlace de cierre de sesión LOGOUT */
.welcome-logout a {
    color: #c5c5c5;
    text-decoration: none;
    margin-left: 10px; /* Espaciado entre el mensaje de bienvenida y el enlace de cierre de sesión */
    transition: color 0.3s ease;
}

.welcome-logout a:hover {
    color: #2d0075; /* Cambia el color al pasar el mouse sobre el enlace */
}




/* Estilos para el contenedor principal del administrador de tareas */
body.task-admin {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;

    
}

body.task-admin .container {
    display: flex;
    max-width: 944px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 821px; /* Ajusta la altura según tus necesidades */
    width: 930px; /* Ajusta el ancho según tus necesidades */
    margin-left: 172px; /* Agregué margen izquierdo para desplazar a la derecha */
}

body.task-admin #calendar {
    flex: 2;
    padding: 20px;
    width: 930px; /* Ajusta el ancho según tus necesidades */
    height: 600px; /* Ajusta el alto según tus necesidades */
    margin-top: 91px; /* Ajusta el valor según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */

    margin-left: 20px; /* Agregué margen izquierdo para desplazar a la derecha */
}



/* Estilos para etiquetas y campos de formulario LOGIN Y REGISTER*/
label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;  /* Hice que las etiquetas sean más notables */
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;  /* Aumenté el espacio entre los campos */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 22px;
}

/* Estilos para el botón LOGIN Y REGISTER */
button {
    background-color: #435aa7;
    color: #fff;
    border: none;
    padding: 12px 20px;  /* Ajusté el padding para un botón más grande */
    border-radius: 4px;
    margin-bottom: 20px;  /* Aumenté el espacio entre los campos */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000571;
}


.task-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-task-img {
    margin-left: -4px; /* Espacio a la izquierda de la imagen (ajustar según sea necesario) */

    width: 18px; /* Ancho deseado */
    height: 22px; /* Altura deseada */
}