<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Administration</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- FullCalendar CSS y JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>
<body class="task-admin">
    <!-- Barra de navegación -->
    <nav>
        
        <div class="welcome-logout">
            <p>Welcome, {{ current_user.username }}!</p>
            <p></p><a href="{{ url_for('admin_logout') }}">Logout</a></p>
        </div>
    </nav>

    <!-- Contenido principal del administrador de tareas -->
    <div class="container">
        <!-- Calendario -->
        <div id="calendar"></div>
        
        <!-- Detalles de la tarea -->
        <div id="taskDetails">
            <h3 id="dayHeader"></h3>
            <ul id="taskList"></ul>
        </div>
    </div>

    <!-- Scripts y código JavaScript según sea necesario -->
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                events: '/admin/tasks',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                dayClick: function (date) {
                    $('#dayHeader').text(date.format('MMMM D, YYYY'));
                    $.get('/admin/tasks', function (data) {
                        var taskList = $('#taskList');
                        taskList.empty();
                        data.tasks.forEach(function (task) {
                            var taskDate = moment(task.start_date).format('MMMM D, YYYY');
                            if (taskDate === date.format('MMMM D, YYYY')) {
                                taskList.append('<li>' + task.title + '</li>');
                            }
                        });
                    });
                    $('#taskDetails').show();
                }
            });

            // Ocultar el cuadro de detalles inicialmente
            $('#taskDetails').hide();
        });
    </script>
</body>
</html>