<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" integrity="sha256-K6hooqTgoOQGbZr2mBpL+fFwZlO6F5e01hx6sKx95YM=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oLcpSstnh6w9awmCpkqDgxsUKne+5i+Y8fKsre4LmEY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha256-bCmbieeQklrCkI+qLvjMEWGXw+IzIU2tq+AnZysK4cM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js" integrity="sha256-2D4WPNRr8hpCB1bDhE/5QOH3cmFwGXlD00x/2MOmozs=" crossorigin="anonymous"></script>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        #calendar {
            width: 70%;
        }
    </style>
    <script>
        // Configuración del calendario
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                // Configuraciones adicionales del calendario
            });
        });
    </script>
</head>
<body>
    <!-- Contenedor para el calendario -->
    <div id="calendar"></div>
</body>
</html>